<div class="container">
<div class="grid-container">
  <div class = 'lista'>
  <div class="grid-item">

  <a class="mk-image-link" href="/fixedpackages/europe" target="_blank">
  
    <img width="300" height = "300"  src = "../../../assets/images/europe.jpg">
    <span class = "vieweurodetails">Customize and Book</span>
  </a>
  <br>
    <span class = "triptext"> Trip to Europe </span>



  </div>
  <div class="grid-item">
      <a class="mk-image-link" href="/fixedpackages/australia" target="_blank">
  
        <img width="300" height = "300"  src = "../../../assets/images/australia.jpg">
        <span class = "viewausdetails">Customize and Book</span>
      </a>
      <br>
        <span class = "triptext"> Trip to Australia  </span>


  </div>
  <div class="grid-item">
      <a class="mk-image-link" href="/fixedpackages/africa" target="_blank">
  
        <img width="300" height = "300"  src = "../../../assets/images/africa.jpg">
        <span class = "viewafricadetails">Customize and Book</span>
      </a>
      <br>
        <span class = "triptext"> Trip to Africa  </span>
  </div> 
</div> 
  
  <div class = 'listb'>
  <div class="grid-item">
      <a class="mk-image-link" href="/fixedpackages/asia" target="_blank">
  
        <img width="300" height = "300"  src = "../../../assets/images/asia.jpg">
        <span class = "viewasiadetails">Customize and Book</span>
      </a>
      <br>
        <span class = "triptext"> Trip to Asia  </span>


  </div>
  <div class="grid-item"><a class="mk-image-link" href="/fixedpackages/southamerica" target="_blank">
  
    <img width="300" height = "300"  src = "../../../assets/images/southamerica.jpeg">
    <span class = "viewsouthamericadetails">Customize and Book</span>
  </a>
  <br>
    <span class = "triptext"> Trip to South America </span>
  </div>

  <div class="grid-item">
      <a class="mk-image-link" href="/fixedpackages/northamerica" target="_blank">
  
        <img width="300" height = "300"  src = "../../../assets/images/northamerica.jpg">
        <span class = "viewnorthamericadetails">Customize and Book</span>
      </a>
      <br>
        <span class = "triptext"> Trip to North America </span>
  </div>
</div>  
  
 
</div>




</div>
