
<div class="block">
    <div class="block__item">
      <div class="block__inner">
        <h1>Plan Your Trip</h1>
        <div class="block__description">
          
          <p> If you’re going to do Europe, do it right. As in, travel for 7 days across 6 cities on our biggest and baddest Europe trip ever. As you learn to conquer the metro system in Paris, flood your Instagram with everything from Big Ben to the Colosseum to the picturesque beaches of Greece, this Europe trip is more informational and awesome than any history lesson your college professor could give you. And, it’s as fast-paced and epic as backpacking— minus the blisters, plus a real bed. This trip will prove that things in the U.S. aren’t that old, maps are confusing, espresso is amazing, and travel is always the answer. This is Ultimate Europe. </p>
        </div>
      </div>
      <div class="block__inner">
          
          <a  href="/contactus">
        <h2>Custom Booking</h2>
        </a>
      </div>
    </div>
    <div class="block__item">
      <div class="block__inner">
        <h2>Travel Itinerary</h2>
        <div class="list">
          <div class="list__item">
            <div class="list__time">Day 1 <br> 1:00 am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Departing Flight</h3>
              <div>Lufthansa LH7628 </div>
              <div>Boarding: 3:30 am Destination: London, England</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 1 <br>11:30 am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Enterprise Car Rental</h3>
              <div>Heathrow Airport London, England</div>
              <div>Pick up: 11:30 am</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 1 <br>2:00 pm</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Hop-On Hop-Off Bus Tour</h3>
              <div>Westminster Abbey, Buckingham Palace, Big Ben, Covent Garden</div>
              <div>Pick up: 2:00 pm</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time"> Day 1 <br>8:00 pm</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Blockbuster Sights</h3>
              <div>The Shard, London Eye</div>
              <div>Pick up: 8:00 pm</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 2 <br>9:00am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Flight to Paris</h3>
              <div>British Airways BA304, Heathrow Airport</div>
              <div>Boarding: 12:30 pm Destination: Paris, France</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
              <div class="list__time"> Day 2 <br>2:00 pm</div>
              <div class="list__border"></div>
              <div class="list__desc">
                <h3>Enterprise Car Rental</h3>
                <div>Charles de Gaulle Airport, Paris</div>
                <div>Pick up: 2:00 pm</div>
                <div class="border"></div>
              </div>
            </div>
            <div class="list__item">
                <div class="list__time"> Day 2 <br>4:00 pm</div>
                <div class="list__border"></div>
                <div class="list__desc">
                  <h3>Paris Exploration</h3>
                  <div>Eiffel Tower, Tour Montparnasse, Champs-Elysees </div>
                  <div>Pick up: 4:00 pm</div>
                  <div class="border"></div>
                </div>
              </div>
              <div class="list__item">
                  <div class="list__time"> Day 3 <br>10:00 am</div>
                  <div class="list__border"></div>
                  <div class="list__desc">
                    <h3>Classic Paris Highlights</h3>
                    <div>Notre Dame, Luxembourg Gardens, Musee d’Orsay </div>
                    <div>Pick up: 10:00 am</div>
                    <div class="border"></div>
                  </div>
                </div>
                <div class="list__item">
                    <div class="list__time"> Day 3 <br>6:00 pm</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                      <h3>Flight to Amsterdam</h3>
                      <div>Air France AF 1140, Charles de Gaulle Airport</div>
                      <div>Boarding: 8:00 pm Destination: Amsterdam, Holland</div>
                      <div class="border"></div>
                    </div>
                  </div>
                  <div class="list__item">
                      <div class="list__time"> Day 3 <br>9:30 pm</div>
                      <div class="list__border"></div>
                      <div class="list__desc">
                        <h3>Enterprise Car Rentals</h3>
                        <div>Amsterdam Airport Schiphol, Amsterdam</div>
                        <div>Pick up: 9:30 pm</div>
                        <div class="border"></div>
                      </div>
                    </div>
                    <div class="list__item">
                        <div class="list__time"> Day 4 <br>10:00 am</div>
                        <div class="list__border"></div>
                        <div class="list__desc">
                          <h3>Walking Tour</h3>
                          <div>Van Gogh Museum, Amsterdam History Museum, Hash, Marihuana & Hemp Museum</div>
                          
                          <div class="border"></div>
                        </div>
                      </div>
                      <div class="list__item">
                          <div class="list__time"> Day 4 <br>8:00 pm</div>
                          <div class="list__border"></div>
                          <div class="list__desc">
                            <h3>Amsterdam Nightlife</h3>
                            <div>Red Light District, WesterUnie</div>
                            <div>Pick up: 8:00 pm</div>
                            <div class="border"></div>
                          </div>
                        </div>
                        <div class="list__item">
                            <div class="list__time"> Day 5 <br>8:00 am</div>
                            <div class="list__border"></div>
                            <div class="list__desc">
                              <h3>Flight to Prague</h3>
                              <div>KLM KL1351, Amsterdam Airport Schiphol </div>
                              <div>Boarding: 10:00 am Destination: Prague, Czech Republic</div>
                              <div class="border"></div>
                            </div>
                          </div>
                          <div class="list__item">
                              <div class="list__time"> Day 5 <br>12:00 pm</div>
                              <div class="list__border"></div>
                              <div class="list__desc">
                                <h3>Enterprise Car Rental</h3>
                                <div>Václav Havel Airport, Prague</div>
                                <div>Pick up: 12:00 pm</div>
                                <div class="border"></div>
                              </div>
                            </div>
                            <div class="list__item">
                                <div class="list__time"> Day 5 <br>3:00 pm</div>
                                <div class="list__border"></div>
                                <div class="list__desc">
                                  <h3>Bike Tour</h3>
                                  <div>Prague Castle, Charles Bridge, The Senate Gardens </div>
                                  <div>Pick up: 2:00 pm</div>
                                  <div class="border"></div>
                                </div>
                              </div>
                              <div class="list__item">
                                  <div class="list__time"> Day 5 <br>10:00 pm</div>
                                  <div class="list__border"></div>
                                  <div class="list__desc">
                                    <h3>Flight to Rome</h3>
                                    <div> Vueling VY6161, Václav Havel Airport Prague  </div>
                                    <div>Boarding: 11:30 pm Destination: Rome, Italy</div>
                                    <div class="border"></div>
                                  </div>
                                </div>
                                <div class="list__item">
                                    <div class="list__time"> Day 6 <br>12:00 am</div>
                                    <div class="list__border"></div>
                                    <div class="list__desc">
                                      <h3>Enterprise Car Rental</h3>
                                      <div>Leonardo da Vinci–Fiumicino Airport  </div>
                                      <div>Pick up: 12:00 am</div>
                                      <div class="border"></div>
                                    </div>
                                  </div>
                                  <div class="list__item">
                                      <div class="list__time"> Day 6 <br>10:00 am</div>
                                      <div class="list__border"></div>
                                      <div class="list__desc">
                                        <h3>Roman Holdiay</h3>
                                        <div>Vatican City, Coliseum,Roman Forum </div>
                                        <div>Pick up: 10:00 am</div>
                                        <div class="border"></div>
                                      </div>
                                    </div>
                                    <div class="list__item">
                                        <div class="list__time"> Day 6 <br>4:00 pm</div>
                                        <div class="list__border"></div>
                                        <div class="list__desc">
                                          <h3>Walking Tour</h3>
                                          <div>Villa Borghese, Spanish Steps, The Pantheon </div>
                                          
                                          <div class="border"></div>
                                        </div>
                                      </div>
                                      <div class="list__item">
                                          <div class="list__time"> Day 7 <br>6:00 am</div>
                                          <div class="list__border"></div>
                                          <div class="list__desc">
                                            <h3>Flight to Madrid</h3>
                                            <div>Ryanair FR9601, Leonardo da Vinci–Fiumicino Airport  </div>
                                            <div>Boarding: 9:00 am Destination: Madrid, Spain</div>
                                            <div class="border"></div>
                                          </div>
                                        </div>
                                        <div class="list__item">
                                            <div class="list__time"> Day 7 <br>6:00 am</div>
                                            <div class="list__border"></div>
                                            <div class="list__desc">
                                              <h3>Enterprise Car Rental</h3>
                                              <div> Adolfo Suárez Madrid–Barajas Airport  </div>
                                              <div>Pick up: 6:00 am</div>
                                              <div class="border"></div>
                                            </div>
                                          </div>
                                          <div class="list__item">
                                              <div class="list__time"> Day 7 <br>10:00 am</div>
                                              <div class="list__border"></div>
                                              <div class="list__desc">
                                                <h3>Madrid Madness</h3>
                                                <div>Hop on Hop off Bus Tour </div>
                                                <div>The Prado, The Retiro, The Santiago Bernabéu </div>
                                                <div class="border"></div>
                                              </div>
                                            </div>
                                            <div class="list__item">
                                                <div class="list__time"> Day 7 <br>8:00 pm</div>
                                                <div class="list__border"></div>
                                                <div class="list__desc">
                                                  <h3>Departing Flight</h3>
                                                  <div>Iberia IB 6251, Adolfo Suárez Madrid–Barajas Airport</div>
                                                  <div>Boarding: 11:00 pm Destination: New York, USA</div>
                                                  <div class="border"></div>
                                                </div>
                                              </div>

        </div>
      </div>
    </div>
  </div>










