<!-- <td><h4> Hola Machu Picchu </h4></td>
        
</tr>
<tr>
  <td><h4>Day 3</h4></td>
  <td><h4> Amazing  Amazon Rain Forest </h4></td>
 
</tr>
<tr>
  <td><h4>Day 4</h4></td>
  <td><h4> Olá Rio de Janeiro </h4></td>

</tr>
<tr>
  <td><h4>Day 5</h4></td>
  <td><h4> Hola Iguassu Falls </h4></td>

</tr>
<tr>
  <td><h4>Day 6</h4></td>
  <td>
      <h4> Ciao  Argentina </h4></td>

 -->







<div class="block">
    <div class="block__item">
      <div class="block__inner">
        <h1>Plan Your Trip</h1>
        <div class="block__description">
         
          <p>Backpacking through South America is like riding a bike for the first time after the training wheels have been removed. There is just the right amount of danger and curveballs present to keep you alert, focused and totally stoked on life.</p>
        </div>
      </div>
      <div class="block__inner">
         
          <a  href="/contactus">
        <h2>Custom Booking</h2>
        </a>
      </div>
    </div>
    <div class="block__item">
      <div class="block__inner">
        <h2>Travel Itinerary</h2>
        <div class="list">
          <div class="list__item">
            <div class="list__time">Day 1 <br> 1:00 am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Departing Flight</h3>
              <div>Lufthansa LH7628 </div>
              <div>Boarding: 3:30 am Destination: Machu Picchu, Peru</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 1 <br>8:30 am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Enterprise Car Rental</h3>
              <div>Machu Picchu Airport, Peru </div>
              <div>Pick up: 8:30 am</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 1 <br>2:00 pm</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Hop-On Hop-Off Bus Tour</h3>
              <div>LIMA TO CUSCO, SACRED VALLEY & OLLANTAYTAMBO</div>
              <div>Pick up: 2:00 pm</div>
              <div class="border"></div>
            </div>
          </div>
          
          <div class="list__item">
            <div class="list__time">Day 2 <br>9:00am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Flight to Brazil</h3>
              <div>American Airways AA304, Brazil Airport</div>
              <div>Boarding: 12:30 pm Destination: Brazil</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
              <div class="list__time"> Day 2 <br>2:00 pm</div>
              <div class="list__border"></div>
              <div class="list__desc">
                <h3>Enterprise Car Rental</h3>
                <div>Brazil Airport, Brazil</div>
                <div>Pick up: 2:00 pm</div>
                <div class="border"></div>
              </div>
            </div>
            <div class="list__item">
                <div class="list__time"> Day 2 <br>4:00 pm</div>
                <div class="list__border"></div>
                <div class="list__desc">
                  <h3>Amazon Rain Forest</h3>
              
                  <div>Pick up: 4:00 pm</div>
                  <div class="border"></div>
                </div>
              </div>
              <div class="list__item">
                  <div class="list__time"> Day 3 <br>10:00 am</div>
                  <div class="list__border"></div>
                  <div class="list__desc">
                    <h3>Sight Seeing in Rio de Janeiro</h3>
                    <div>Tour Centro e Lapa </div>
                    <div>Pick up: 10:00 am</div>
                    <div class="border"></div>
                  </div>
                </div>
                <div class="list__item">
                    <div class="list__time"> Day 3 <br>6:00 pm</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                      <h3>Flight to Argentina</h3>
                      <div>American Airlines AA 1140, Brazil Airport</div>
                      <div>Boarding: 8:00 pm Destination: Amsterdam, Holland</div>
                      <div class="border"></div>
                    </div>
                  </div>
                  <div class="list__item">
                      <div class="list__time"> Day 3 <br>9:30 pm</div>
                      <div class="list__border"></div>
                      <div class="list__desc">
                        <h3>Enterprise Car Rentals</h3>
                        <div>Argentina Airport, Amsterdam</div>
                        <div>Pick up: 9:30 pm</div>
                        <div class="border"></div>
                      </div>
                    </div>
                    <div class="list__item">
                        <div class="list__time"> Day 4 <br>2:00 pm</div>
                        <div class="list__border"></div>
                        <div class="list__desc">
                          <h3>Walking Tour</h3>
                          <div>Buenos Aires, Rosario, Cordoba</div>
                          
                          <div class="border"></div>
                        </div>
                      </div>
                      <div class="list__item">
                          <div class="list__time"> Day 5 <br>8:00 am</div>
                          <div class="list__border"></div>
                          <div class="list__desc">
                            <h3>Iguassu Falls  </h3>
                            <div>Iguassu Falls </div>
                            <div>Pick up: 8:00 pm</div>
                            <div class="border"></div>
                          </div>
                        </div>
                       <div class="list__item">
                       <div class="list__time"> Day 5 <br>8:00 pm</div>
                        <div class="list__border"></div>
                           <div class="list__desc">
                          <h3>Departing Flight</h3>
                           <div>American Airlines AA 6251, Argentina Airport</div>
                                      <div>Boarding: 11:00 pm Destination: New York, USA</div>
                                   <div class="border"></div>
                                     </div>
                                    </div>

        </div>
      </div>
    </div>
  </div>










