//  .container{
//   padding-top: 70px;
//    position: relative;
//    height: 100%;
//    width: 100%; 
//    left: 50px;


// }
// .displayblogs{
// left: 50px;
//   font-size: 30px;
// }


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 80%;
  height: 80%;
  
}
  .container{
padding-top: 170px;
position: relative;
text-align: center;

 }
.displayblogs{

  font-size: 30px;
}















// //  .container{
// //   padding-top: 70px;
// //    position: relative;
// //    height: 900px;
// //    width: 900px; 


// // }
// // .displayblogs{

// //   font-size: 30px;
// // }









