




<div class="block">
    <div class="block__item">
      <div class="block__inner">
        <h1>Plan Your Trip</h1>
        <div class="block__description">
        
          <p>This grand tour of the eastern U.S. and Canada is a sensory overload of everything that makes North America great — skyscrapers, monuments, Niagara Falls, canoeing, poutine, subways, whales, sunshine, designer boutiques, and nature hikes. On this adventure, pile into our own private vehicle, clocking miles of smiles all over Mexico, Hawaii, Toronto, Montreal,  and all points in between. Your friends are already jealous.</p>
        </div>
      </div>
      <div class="block__inner">
         
          <a  href="/contactus">
        <h2>Custom Booking</h2>
        </a>
      </div>
    </div>
    <div class="block__item">
      <div class="block__inner">
        <h2>Travel Itinerary</h2>
        <div class="list">
          <div class="list__item">
            <div class="list__time">Day 1 <br> 1:00 am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Departing Flight</h3>
              <div>Lufthansa LH7628 </div>
              <div>Boarding: 3:30 am Destination: Mexico City</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 1 <br>7:30 am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Enterprise Car Rental</h3>
              <div>Mexico City International Airport, Mexico City</div>
              <div>Pick up: 7:30 am</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 1 <br>2:00 pm</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Hop-On Hop-Off Bus Tour</h3>
              <div>Boutiques to Galleries to Cafes in Roma and Juarez</div>
              <div>Pick up: 2:00 pm</div>
              <div class="border"></div>
            </div>
          </div>
          
          <div class="list__item">
            <div class="list__time">Day 1 <br>9:00pm</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Flight to Hawaii</h3>
              <div>American  A304, Mexico City International Airport</div>
              <div>Boarding: 12:30 am Destination: Hawaii</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
              <div class="list__time"> Day 2 <br>6:00 am</div>
              <div class="list__border"></div>
              <div class="list__desc">
                <h3>Enterprise Car Rental</h3>
                <div>Daniel K. Inouye International Airport, Hawaii</div>
                <div>Pick up: 6:00 am</div>
                <div class="border"></div>
              </div>
            </div>
            <div class="list__item">
                <div class="list__time"> Day 2 <br>4:00 pm</div>
                <div class="list__border"></div>
                <div class="list__desc">
                  <h3>Ahoy Hawaii</h3>
                  <div> Ka’anapali, Iao Valley , Molokini Crater </div>
                  <div>Pick up: 4:00 pm</div>
                  <div class="border"></div>
                </div>
              </div>
              
                <div class="list__item">
                    <div class="list__time"> Day 3 <br>6:00 pm</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                      <h3>Flight to Alaska</h3>
                      <div>American AA 1140, Daniel K. Inouye International Airport</div>
                      <div>Boarding: 8:00 pm Destination: Alaska</div>
                      <div class="border"></div>
                    </div>
                  </div>
                  <div class="list__item">
                      <div class="list__time"> Day 3 <br>6:00am</div>
                      <div class="list__border"></div>
                      <div class="list__desc">
                        <h3>Enterprise Car Rentals</h3>
                        <div>Aniak Airport, Alaska</div>
                        <div>Pick up: 6:00 am</div>
                        <div class="border"></div>
                      </div>
                    </div>
                    <div class="list__item">
                        <div class="list__time"> Day 3 <br>04:00 pm</div>
                        <div class="list__border"></div>
                        <div class="list__desc">
                          <h3>Sighseeing Tour</h3>
                          <div> Denali National Park, enai Fjords, Turnagain Arm</div>
                          
                          <div class="border"></div>
                        </div>
                      </div>
                      
                        <div class="list__item">
                            <div class="list__time"> Day 4 <br>8:00 am</div>
                            <div class="list__border"></div>
                            <div class="list__desc">
                              <h3>Flight to Vancouver</h3>
                              <div>Air Canada AC1351, Aniak Airport </div>
                              <div>Boarding: 10:00 am Destination: Vancouver, Canada</div>
                              <div class="border"></div>
                            </div>
                          </div>
                          <div class="list__item">
                              <div class="list__time"> Day 5 <br>12:00 pm</div>
                              <div class="list__border"></div>
                              <div class="list__desc">
                                <h3>Enterprise Car Rental</h3>
                                <div>Vancouver Airport, Vancouver</div>
                                <div>Pick up: 12:00 pm</div>
                                <div class="border"></div>
                              </div>
                            </div>
                            <div class="list__item">
                                <div class="list__time"> Day 5 <br>5:00 pm</div>
                                <div class="list__border"></div>
                                <div class="list__desc">
                                  <h3>City Tour</h3>
                                  <div>Stanley Park ,Canada Place, Granville Island </div>
                                  <div>Pick up: 2:00 pm</div>
                                  <div class="border"></div>
                                </div>
                              </div>
                              <div class="list__item">
                                  <div class="list__time"> Day 5 <br>10:00 pm</div>
                                  <div class="list__border"></div>
                                  <div class="list__desc">
                                    <h3>Flight to Montreal</h3>
                                    <div> Air Canada AC6161, Vancouver Airport  </div>
                                    <div>Boarding: 11:30 pm Destination: Montreal, Canda</div>
                                    <div class="border"></div>
                                  </div>
                                </div>
                                <div class="list__item">
                                    <div class="list__time"> Day 6 <br>2:00 am</div>
                                    <div class="list__border"></div>
                                    <div class="list__desc">
                                      <h3>Enterprise Car Rental</h3>
                                      <div>Montreal Airport  </div>
                                      <div>Pick up: 2:00 am</div>
                                      <div class="border"></div>
                                    </div>
                                  </div>
                                  <div class="list__item">
                                      <div class="list__time"> Day 6 <br>10:00 am</div>
                                      <div class="list__border"></div>
                                      <div class="list__desc">
                                        <h3>Feel the French Connection</h3>
                                        <div>Vieux-Montreal, Downtown Montreal, and Chinatown</div>
                                        <div>Pick up: 10:00 am</div>
                                        <div class="border"></div>
                                      </div>
                                    </div>
                                            <div class="list__item">
                                                <div class="list__time"> Day 7 <br>8:00 am</div>
                                                <div class="list__border"></div>
                                                <div class="list__desc">
                                                  <h3>Departing Flight</h3>
                                                  <div>Air Canada IB 6251, Montreal Airport t</div>
                                                  <div>Boarding: 11:00 pm Destination: New York, USA</div>
                                                  <div class="border"></div>
                                                </div>
                                              </div>

        </div>
      </div>
    </div>
  </div>










