

<div class="block">
    <div class="block__item">
      <div class="block__inner">
        <h1>Plan Your Trip</h1>
        <div class="block__description">
          
          <p>Encounter the colorful cultures of Indochina on an 5-day journey to hongKong, Vietnam, Singapore and Thailand. Cruise Ha Long Bay, explore incredible Angkor Wat, interact with local families, and taste some of the world’s best street food at the night markets of Chiang Mai. Soak up the richness of this corner of the globe so steeped in tradition.
               </p>
        </div>
      </div>
      <div class="block__inner">
          <a  href="/contactus" target="_blank">
        <h2>Custom Bookingy</h2>
          </a>
       
      </div>
    </div>
    <div class="block__item">
      <div class="block__inner">
        <h2>Travel Itinerary</h2>
        <div class="list">
          <div class="list__item">
            <div class="list__time">Day 1 <br> 1:00 am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Departing Flight</h3>
              <div>United UA179 </div>
              <div>Boarding: 3:30 am Destination: Hong Kong</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 2 <br>8:30 pm</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Enterprise Car Rental</h3>
              <div>Hong Kong International Airport, Hong Kong</div>
              <div>Pick up: 8:30 pm</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 3 <br>10:00 am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Feeling the Disney Magic</h3>
              <div>Disneyland Hong Kong</div>
              <div>Pick up: 10:00 am</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time"> Day 3 <br>4:00 pm</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Shop Till you Drop</h3>
              <div>Mong Kok</div>
              <div>Pick up: 8:00 pm</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 3 <br>10:00pm</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Flight to Vietnam</h3>
              <div>Vietnam Airlines VA593, Hong Kong International Airport</div>
              <div>Boarding: 12:30 pm Destination: Hanoi, Vietnam</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
              <div class="list__time"> Day 3 <br>12:30 pm</div>
              <div class="list__border"></div>
              <div class="list__desc">
                <h3>Enterprise Car Rental</h3>
                <div>Noi Bai International Airport, Hanoi</div>
                <div>Pick up: 12:30 pm</div>
                <div class="border"></div>
              </div>
            </div>
            <div class="list__item">
                <div class="list__time"> Day 3 <br>4:00 pm</div>
                <div class="list__border"></div>
                <div class="list__desc">
                  <h3>Jungle Journey</h3>
                  <div>Mekong Delta, Cu Chi Tunnels </div>
                  <div>Pick up: 4:00 pm</div>
                  <div class="border"></div>
                </div>
              </div>
            
                <div class="list__item">
                    <div class="list__time"> Day 3 <br>9:00 pm</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                      <h3>Flight to Bangkok</h3>
                      <div>Vietnam Airlines VN 615, Noi Bai International Airport </div>
                      <div>Boarding: 11:00 pm Destination: Bangkok, Thailand</div>
                      <div class="border"></div>
                    </div>
                  </div>
                  <div class="list__item">
                      <div class="list__time"> Day 4 <br>1:00 am</div>
                      <div class="list__border"></div>
                      <div class="list__desc">
                        <h3>Enterprise Car Rentals</h3>
                        <div>Suvarnabhumi Airport, Bangkok</div>
                        <div>Pick up: 1:00 am</div>
                        <div class="border"></div>
                      </div>
                    </div>
                    <div class="list__item">
                        <div class="list__time"> Day 4 <br>11:00 am</div>
                        <div class="list__border"></div>
                        <div class="list__desc">
                          <h3>Thai Life </h3>
                          <div>CHI, The Spa at Shangri-La Hotel,Street Food at Chinatown, Floating Markets </div>
                          
                          <div class="border"></div>
                        </div>
                      </div>
                      
                        <div class="list__item">
                            <div class="list__time"> Day 5 <br>8:00 am</div>
                            <div class="list__border"></div>
                            <div class="list__desc">
                              <h3>Flight to Singapore</h3>
                              <div>Thai AirAsia FD351, Don Mueang International Airport </div>
                              <div>Boarding: 10:00 am Destination: Singapore</div>
                              <div class="border"></div>
                            </div>
                          </div>
                          <div class="list__item">
                              <div class="list__time"> Day 5 <br>12:30 pm</div>
                              <div class="list__border"></div>
                              <div class="list__desc">
                                <h3>Enterprise Car Rental</h3>
                                <div>Singapore Changi Airport, Singapore</div>
                                <div>Pick up: 12:30 pm</div>
                                <div class="border"></div>
                              </div>
                            </div>
                            <div class="list__item">
                                <div class="list__time"> Day 5 <br>3:00 pm</div>
                                <div class="list__border"></div>
                                <div class="list__desc">
                                  <h3>HOP ON/HOP OFF BUS</h3>
                                  <div>Cavenagh Bridge, Raffles Statue, Asian Civilizations Museum, Mint Museum of Toys. </div>
                                  <div>Pick up: 3:00 pm</div>
                                  <div class="border"></div>
                                </div>
                              </div>
                              <div class="list__item">
                               <div class="list__time"> Day 5 <br>9:00 pm</div>
                                <div class="list__border"></div>
                                <div class="list__desc">
                                <h3>Departing Flight</h3>
                                <div>
                                  Qatar Airways QR947, Singapore Changi Airport</div>
                                <div>Boarding: 11:00 pm Destination: New York, USA</div>
                                 <div class="border"></div>
                                 </div>
                                 </div>

        </div>
      </div>
    </div>
  </div>
























