

<div class="block">
    <div class="block__item">
      <div class="block__inner">
        <h1>Plan Your Trip</h1>
        <div class="block__description">
        
          <p>Immerse yourself in world famous cities that regularly top the charts for safety and beauty. Each is shaped by the landscape, effortlessly blending inimitable city life with vibrant nature. Sydney provides celebrated allure; sophisticated Melbourne is centered around its river and beaches while Auckland epitomizes the laid-back rhythm of the continent. Each makes a stunning place to start or end your adventure. 
              It only takes one glance at New Zealand to confirm the many comparisons with Middle Earth</p>
        </div>
      </div>
      <div class="block__inner">
          <a  href="/contactus" target="_blank">
        <h2>Custom Booking</h2>
          </a>
        
      </div>
    </div>
    <div class="block__item">
      <div class="block__inner">
        <h2>Travel Itinerary</h2>
        <div class="list">
          <div class="list__item">
            <div class="list__time">Day 1 <br> 1:00 am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Departing Flight</h3>
              <div>United UA275, Newark Liberty International Airport  </div>
              <div>Boarding: 3:30 am Destination: Sydney, Australia</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 2 <br>9:00pm</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Enterprise Car Rental</h3>
              <div>Sydney Airport, Sydney</div>
              <div>Pick up: 9:00pm</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 3 <br>10:00 am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Walking Tour</h3>
              <div> Circular Quay, SYDNEY HARBOUR BRIDGE, Hyde Park </div>
              
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time"> Day 3 <br>6:00 pm</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Hit the Beaches</h3>
              <div>Bronte and Coogee, Bondi Beach</div>
              <div>Pick up: 6:00 pm</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 4 <br>9:00am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Flight to Melbourne</h3>
              <div>Jetstar JQ611, Sydney Airport</div>
              <div>Boarding: 11:00 am Destination: Melbourne, Australia</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
              <div class="list__time"> Day 4 <br>12:30 pm</div>
              <div class="list__border"></div>
              <div class="list__desc">
                <h3>Enterprise Car Rental</h3>
                <div>Avalon Airport, Melbourne</div>
                <div>Pick up: 12:30 pm</div>
                <div class="border"></div>
              </div>
            </div>
            <div class="list__item">
                <div class="list__time"> Day 4 <br>4:00 pm</div>
                <div class="list__border"></div>
                <div class="list__desc">
                  <h3>Feel the Essence of Melbourne</h3>
                  <div>Explore the Arcades,  Kings Domain, National Gallery of Victoria </div>
                  <div>Pick up: 4:00 pm</div>
                  <div class="border"></div>
                </div>
              </div>
            
                <div class="list__item">
                    <div class="list__time"> Day 4 <br>9:00 pm</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                      <h3>Flight to Queenstown</h3>
                      <div>Jetstar JQ219, Avalon Airport</div>
                      <div>Boarding: 11:00 pm Destination: Queenstown, New Zealand</div>
                      <div class="border"></div>
                    </div>
                  </div>
                  <div class="list__item">
                      <div class="list__time"> Day 4 <br>2:00 am</div>
                      <div class="list__border"></div>
                      <div class="list__desc">
                        <h3>Enterprise Car Rentals</h3>
                        <div>Queenstown Airport, Queenstown</div>
                        <div>Pick up: 2:00 am</div>
                        <div class="border"></div>
                      </div>
                    </div>
                    <div class="list__item">
                        <div class="list__time"> Day 4 <br>11:00 am</div>
                        <div class="list__border"></div>
                        <div class="list__desc">
                          <h3>Explore Queenstown </h3>
                          <div>Shotover Jet, Arrowtown, Botanic Gardens </div>
                          <div>Pick up: 11:00 am</div>
                          <div class="border"></div>
                        </div>
                      </div>
                      
                        <div class="list__item">
                            <div class="list__time"> Day 5 <br>8:00 am</div>
                            <div class="list__border"></div>
                            <div class="list__desc">
                              <h3>Flight to Auckland</h3>
                              <div>Jetstar JQ298, Queenstown Airport </div>
                              <div>Boarding: 10:00 am Destination: Auckland</div>
                              <div class="border"></div>
                            </div>
                          </div>
                          <div class="list__item">
                              <div class="list__time"> Day 5 <br>12:30 pm</div>
                              <div class="list__border"></div>
                              <div class="list__desc">
                                <h3>Enterprise Car Rental</h3>
                                <div>Auckland Airport, Auckland</div>
                                <div>Pick up: 12:30 pm</div>
                                <div class="border"></div>
                              </div>
                            </div>
                            <div class="list__item">
                                <div class="list__time"> Day 5 <br>3:00 pm</div>
                                <div class="list__border"></div>
                                <div class="list__desc">
                                  <h3>HOP ON/HOP OFF BUS</h3>
                                  <div>Auckland Museum, Auckland Domain, Rangitoto Island </div>
                                  <div>Pick up: 3:00 pm</div>
                                  <div class="border"></div>
                                </div>
                              </div>
                              <div class="list__item">
                               <div class="list__time"> Day 5 <br>9:00 pm</div>
                                <div class="list__border"></div>
                                <div class="list__desc">
                                <h3>Departing Flight</h3>
                                <div>American AA82, Auckland Airport</div>
                                <div>Boarding: 11:00 pm Destination: New York, USA</div>
                                 <div class="border"></div>
                                 </div>
                                 </div>
  
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  