<div>
        <!-- <button type="button" class="btn btn-secondary btn-width">Manage About Us</button> -->
        <button type="button" class="btn btn-secondary btn-width" routerLink="/manageBlog">Manage Blogs</button>
        <button type="button" class="btn btn-secondary btn-width" routerLink = "/manageFeedback">Manage Feedbacks</button>
        <button type="button" class="btn btn-secondary btn-width">Manage Enquiries</button>
    
        <button type="button" class="btn btn-secondary btn-width" routerLink="/createPackage">Create Package</button>
        <button type="button" class="btn btn-secondary btn-width" routerLink="/managePackage">Manage Package</button>
        <!-- <button type="button" class="btn btn-secondary btn-width">Package Requests</button> -->
        
</div>






