<h2>CREATE PACKAGE</h2>
  <form #createPackageForm="ngForm" (ngSubmit)="createPackageForm.valid && onSubmit(createPackageForm)">
    <fieldset>
  
    <div class="form-group">
      <label for="packageID" class="col-sm-2 col-form-label text-primary" >Package ID</label>
        <input class="form-control" type="text" #packageID="ngModel" [(ngModel)]="selectedPackage.packageID" 
        name="packageID" placeholder="Package ID" required  id="inputDefault" >
  
    </div>
  
    <div class="form-group">
      <label for="packageName" class="col-sm-2 col-form-label text-primary">Package Name</label>

        <input class="form-control" type="text" #packageName="ngModel"  [(ngModel)]="selectedPackage.packageName"  name="packageName" placeholder="Package Name"
        required  >
      
      </div>
  
    <div class="form-group">
      <label for="source" class="col-sm-2 col-form-label text-primary">Source</label>

      <input class="form-control" type="text" #source="ngModel" [(ngModel)]="selectedPackage.source" name="source" placeholder="Source"
      required>
  
  </div>

  <div class="form-group">
    <label for="price" class="col-sm-2 col-form-label text-primary">Price</label>
  
    <input class="form-control" type="text" #source="ngModel" [(ngModel)]="selectedPackage.price" name="price" placeholder="Price"
    required>

</div>
  
  <div class="form-group">
    <label for="maxPersons" class="col-sm-2 col-form-label text-primary">Max persons allowed</label>
  
      <input class="form-control" type="text" #maxPerson="ngModel" [(ngModel)]="selectedPackage.maxPersons"  name="maxPersons" placeholder="Max Persons Allowed"
      required>
    
  </div>

  <!-- <div class="form-group">
  
    <label for="noOfDays" class="col-sm-2 col-form-label">No. of Days</label>
      <select class="form-control" #noOfDays="ngModel" name="noOfDays" required id="noOfDays" [(ngModel)]="noOfDays" >
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
    
    </div> -->

    <!-- <ul *ngIf="noOfDays">
      <li *ngFor="let i of generateDaysArray()">
          <input class="form-control" type="text" #day="ngModel" [(ngModel)]="dayTitle"  name="dayTitle" placeholder="Day Title"
      required >
      <input class="form-control" type="text" #day="ngModel" [(ngModel)]="dayDescription" name="dayDescription" placeholder="Day Description"
      required > 
      </li>
    </ul> -->
  
  <!-- ------Dates -->
  <div class="form-group">
    <label for="dates1" class="col-sm-2 col-form-label text-primary">Tour Dates 1</label>
    
      <input class="form-control" type="text" #dates1="ngModel" name="dates1" [(ngModel)]="selectedPackage.dates1" placeholder="Trip Dates 1"
      required  >
  
    
  </div>
  
  <div class="form-group">
      <label for="dates2" class="col-sm-2 col-form-label text-primary">Tour Dates 2</label>
  
      <input class="form-control" type="text" #dates2="ngModel" name="dates2" [(ngModel)]="selectedPackage.dates2" placeholder="Trip Dates 2"
      required  >
    
    
  </div>
  
  <div class="form-group">
      <label for="dates3" class="col-sm-2 col-form-label text-primary">Tour Dates 3</label>
  
      <input class="form-control" type="text" #dates3="ngModel" name="dates3" [(ngModel)]="selectedPackage.dates3" placeholder="Trip Dates 3"
      required  >
    
    
  </div>
  
  
  
  <!-- Itinerary  -->
      <div id="container"> 
        <div>
      <label for="day1Title" class="col-sm-2 col-form-label text-primary">Day 1 Title</label>
      
      <input class="form-control" type="text" #day1Title="ngModel" [(ngModel)]="selectedPackage.day1Title"  name="day1Title" placeholder="Day 1 Title"
      required >
      <label for="day1Description" class="col-sm-2 col-form-label text-primary">Day 1 Description</label>
  
      <input class="form-control" type="text" #day1Description="ngModel" [(ngModel)]="selectedPackage.day1Description" name="day1Description" placeholder="Day 1 Description"
      required >
    </div>

    <div>
        <label for="day2Title" class="col-sm-2 col-form-label text-primary"> Day 2 Title</label>
    
        <input class="form-control" type="text" #day2Title="ngModel" [(ngModel)]="selectedPackage.day2Title"  name="day2Title" placeholder="Day 2 Title"
        required >
      <label for="day2Description" class="col-sm-2 col-form-label text-primary">Day 2 Description</label>
      
        <input class="form-control" type="text" #day2Description="ngModel" [(ngModel)]="selectedPackage.day2Description" name="day2Description" placeholder="Day 2 Description"
        required >
      </div>

      </div>
  
  
  <!-- <div *ngFor=" let day of noOfDays;" > -->
    <!-- <div> -->
      <!-- <label for="day">Day {{day}}</label> -->
  
      <!-- <input class="form-control" type="text" #day="ngModel" [(ngModel)]="packageService.selectedPackage.dayTitle"  name="dayTitle" placeholder="Day Title"
      required >
  
      <input class="form-control" type="text" #day="ngModel" [(ngModel)]="packageService.selectedPackage.dayDescription" name="dayDescription" placeholder="Day Description"
      required > -->
    <!-- </div> -->
  <!-- </div> -->
  
  <!-- <ng-container *ngFor="let item of list" let i=noOfDays>
     <li class="dropdown-item" (click)="onClick(item)" >{{item.text}}</li> 
    <div class="form-group" *ngIf="i < noOfDays">
      
      
  </div>
  </ng-container> -->
  
  <!-- Itinerary  -->
  
  <!-- <div class="form-group">
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="packageImage" #packageImage="ngModel" name="packageImage">
          <label class="custom-file-label" for="packageImage">Choose file</label>
        </div>
        <div class="input-group-append">
          <span class="input-group-text" id="">Upload</span>
        </div>
      </div>
    </div> -->
<!-- 
    <input type="file" (change)="onFileSelected($event)">
    <button type="button" (click)="onUpload()" >Upload</button> -->
  
    <input type="submit" value="Create Package" class="btn btn-primary">
  </fieldset>
  </form>
  
  <!-- Success message -->
  <div class="success" *ngIf="showSucessMessage">
    Saved successfully
  </div>
  
  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>
  
      <!-- <input class="form-control" type="text" #noOfDays="ngModel"   name="noOfDays" placeholder="No. of Days in Package"
      required  >
     -->
  