

<div class="block">
    <div class="block__item">
      <div class="block__inner">
        <h1>Plan Your Trip</h1>
        <div class="block__description">
          
          <p>Gazing out over Cape Town from Table Mountain, the panorama alone is worth the trip to southern Africa. Then again, this epic 5-day adventure to South Africa and Namibia is filled with rewards for travellers. Marvel at the Cape Floral Kingdom on stunning display at the Kirstenbosch National Botanical Garden, watch for the "big five" in Kruger National Park, and climb dunes in the sweeping deserts of Namibia. Along the way, the views just may change your outlook.</p>
        </div>
      </div>
      <div class="block__inner">
          <a  href="/contactus" target="_blank">
            <h2>Custom Booking</h2>
          </a>
       
      </div>
    </div>
    <div class="block__item">
      <div class="block__inner">
        <h2>Travel Itinerary</h2>
        <div class="list">
          <div class="list__item">
            <div class="list__time">Day 1 <br> 1:00 am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Departing Flight</h3>
              <div> Emirates EK224, Newark Liberty International Airport  </div>
              <div>Boarding: 3:30 am Destination: Johannesburg</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 2 <br>7:00am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Enterprise Car Rental</h3>
              <div>R. Tambo International Airport, Johannesburg</div>
              <div>Pick up: 7:00am</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 3 <br>2:00 pm</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Johannesburg to Kruger National Park</h3>
              <div> Highlights:  Graskop, Three Rondavels, Blyde River Canyon, Bourke’s Luck Potholes, God’s Window </div>
              <div>Pick up: 2:00 pm</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
            <div class="list__time">Day 4 <br>9:00am</div>
            <div class="list__border"></div>
            <div class="list__desc">
              <h3>Flight to Cape Town</h3>
              <div>Safair FA101, R. Tambo International Airport </div>
              <div>Boarding: 11:00 am Destination: Cape Town, SouthAfrica</div>
              <div class="border"></div>
            </div>
          </div>
          <div class="list__item">
              <div class="list__time"> Day 4 <br>1:30 pm</div>
              <div class="list__border"></div>
              <div class="list__desc">
                <h3>Enterprise Car Rental</h3>
                <div>Cape Town International Airport, Cape Town</div>
                <div>Pick up: 11:30 pm</div>
                <div class="border"></div>
              </div>
            </div>
            <div class="list__item">
                <div class="list__time"> Day 4 <br>4:00 pm</div>
                <div class="list__border"></div>
                <div class="list__desc">
                  <h3>Hop-on/Hop-off Bus</h3>
                  <div>V&A Waterfront, Bo-Kaap, Kirstenbosch Gardens </div>
                  <div>Pick up: 4:00 pm</div>
                  <div class="border"></div>
                </div>
              </div>
            
                <div class="list__item">
                    <div class="list__time"> Day 4 <br>9:00 pm</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                      <h3>Flight to Bulawayo</h3>
                      <div>MANGO South African, Cape Town International Airport</div>
                      <div>Boarding: 11:00 pm Destination: Bulawayo, Zimbabwe</div>
                      <div class="border"></div>
                    </div>
                  </div>
                  <div class="list__item">
                      <div class="list__time"> Day 5 <br>2:00 am</div>
                      <div class="list__border"></div>
                      <div class="list__desc">
                        <h3>Enterprise Car Rentals</h3>
                        <div>Joshua Mqabuko Nkomo International Airport, Bulawayo</div>
                        <div>Pick up: 2:00 am</div>
                        <div class="border"></div>
                      </div>
                    </div>
                    <div class="list__item">
                        <div class="list__time"> Day 5 <br>11:00 am</div>
                        <div class="list__border"></div>
                        <div class="list__desc">
                          <h3>Visit Historic Sites </h3>
                          <div>Khami Ruins, Great Zimbabwe Ruins </div>
                          <div>Pick up: 11:00 am</div>
                          <div class="border"></div>
                        </div>
                      </div>
                      
                        <div class="list__item">
                            <div class="list__time"> Day 5 <br>8:00 pm</div>
                            <div class="list__border"></div>
                            <div class="list__desc">
                              <h3>Flight to Livingstone</h3>
                              <div>South African SA 8113, Joshua Mqabuko Nkomo International Airport </div>
                              <div>Boarding: 10:00 pm Destination: Livingstone</div>
                              <div class="border"></div>
                            </div>
                          </div>
                          <div class="list__item">
                              <div class="list__time"> Day 5 <br>2:30 am</div>
                              <div class="list__border"></div>
                              <div class="list__desc">
                                <h3>Enterprise Car Rental</h3>
                                <div>Harry Mwanga Nkumbula International Airport, Livingstone</div>
                                <div>Pick up: 2:30 am</div>
                                <div class="border"></div>
                              </div>
                            </div>
                            <div class="list__item">
                                <div class="list__time"> Day 5 <br>12:00 pm</div>
                                <div class="list__border"></div>
                                <div class="list__desc">
                                  <h3> Exploring the mighty Victoria Falls</h3>
                                  <div>Victoria Falls -Bridge swinging, bungee humping and zip-lining. </div>
                                  <div>Pick up: 12:00 pm</div>
                                  <div class="border"></div>
                                </div>
                              </div>
                              <div class="list__item">
                               <div class="list__time"> Day 5 <br>9:00 pm</div>
                                <div class="list__border"></div>
                                <div class="list__desc">
                                <h3>Departing Flight</h3>
                                <div>American AA82, Harry Mwanga Nkumbula International Airport</div>
                                <div>Boarding: 11:00 pm Destination: New York, USA</div>
                                 <div class="border"></div>
                                 </div>
                                 </div>
  
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  