<div class = "container">
  <div *ngFor="let feedback of feedbacks" >
        <div class = "inner">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header"> Name- {{feedback.name}}</div>
        <div class="card-header">  Email - {{feedback.email}}</div>
        <div class="card-header">  Review -{{feedback.review}}</div>
        <div class="card-header"> Rating -{{feedback.rating}}</div>
       </div>
       </div>

          
         
       
    </div>
</div> 