.container {
   

    padding: 60px;
    margin: 70px;
    background-color: transparent;
display:flex;
flex-direction: row ;
justify-content: space-evenly ;

}

.inner {

    padding: 20px;
}