<!-- <div *ngFor="let package of packages">
    <div class="container">
        <div>
            <div class="details">
                
                <br /><br />
                <div>
                    <span class="text-style">Product Name:</span>
                    <span class="text-style">{{package.packageName}}</span>
                </div>
                <div>
                    <span class="text-style"></span>
                    <span class="text-style"></span>
                </div>
                <div>
                    <span class="text-style">Price:</span>
                    <span class="text-style">{{package.price}}</span>
                </div>
                <div>
                    <span class="text-style"></span>
                    <span class="text-style"></span>
                </div>
                <div>
                    <span class="text-style"></span>
                    <span class="text-style"></span>
                </div>
            </div>
            <br />
            <div class="qty-add">
                <div class="qtyDiv">
                    <label class="qty">Quantity:
                        <select (change)="onSelectQty($event.target.value)">
                            <option selected> Select Qty </option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </label>
                </div>
                <div><a class="addtocartbtn" (click)="addtocart(package.packageName, package.price)">Add to Cart</a></div>
            </div>
        </div>
        <br /><br /><br />
        <div class="btn">
            <span><a class="backbtn" routerLink="/searchProduct" routerLinkActive="active">Back</a></span>
        </div>
        <br />
    </div>
</div> -->


<div *ngFor="let package of packages">
    <div class="container">
        <div>
            <div class="details">

                <br /><br />
                <h3 class="card-header">{{package.packageName}}</h3>
          <div class="card-body">
            <h5 class="card-title">Source: {{package.source}}</h5>
            <h6 class="card-subtitle text-muted">Price: {{package.price}}</h6>
          </div>
          <!-- <img  src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image"> -->
          <div class="card-body">
            <p class="card-text">Dates: {{package.dates1}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Day 1: {{package.day1Title}}</li>
            <li class="list-group-item">Description{{package.day1Description}}</li>
            <li class="list-group-item">Day 2: {{package.day2Title}}</li>
            <li class="list-group-item">Description: {{package.day2Description}}</li>
          </ul>
            </div>
            <br />
            <div class="qty-add">
                <div class="qtyDiv">
                    <label class="qty">Quantity:
                        <select (change)="onSelectQty($event.target.value)">
                            <option selected> Select Qty </option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </label>
                </div>
                <div><a class="addtocartbtn" (click)="addtocart(package.packageName, package.price)">Add to Cart</a></div>
            </div>
        </div>
    
    </div>
</div>